/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
    margin: 0;
}

#header-banner{
    margin: 0;
    width: 100%;
    text-align: center;
    padding: .5rem;
    background-color: #000000;
    color: #FDC500;
    letter-spacing: .2rem;
}


header{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80'); 
	background-size: cover; 
	background-position: center; 
    margin-top: 0;
    height: 15rem;
}

header > h1{
    grid-column: 2/5;
    margin: 0;
    font-family: 'Abyssinica SIL', serif;
    color: #fff;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}

h3,h2{
    font-family: 'Abyssinica SIL', serif;
}

header img{
    grid-column: 1/2;
    height: 10rem;
}

nav{
    background-color: #FDC500;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

nav button{
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    grid-column: 1/2;
    align-items: center;
}

nav ul li a{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    display: block;
    padding: .8rem 2vw;
    text-decoration: none; 
    color: #000000;
    font-weight: bold;

}

nav ul#primaryNav{
    display: flex;
    margin-left: 2vw;
    
}

nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    transition-duration: .5s;
    border-radius: 5px;
}

nav button{
    display: none;
}

nav #current-date{
    grid-column: 2/3;
    text-align: right;
    margin: 0;
    padding: .3rem 2vw;
    align-self: center;
}

nav .social-media{
    grid-column: 3/4;
    text-align: right;
    margin: 0;
    padding: .4rem 2vw;
}

nav .social-media img{
    margin-right: 10px;
}

p, span, li, figcaption{
    font-family: 'Raleway', sans-serif;
}

.container {  
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px 5px;
    grid-auto-flow: row;
    margin: .5rem;
    align-items: center;
    background-color: #DCDCDC;


}

.container h3{
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


  
.Hero { 
    grid-area: 1 / 2 / 3 / 3;
    height: auto;
    width: 100%;
    position: relative;
    display: inline-block;
}

.Hero h2{
    text-align: center;
    color: #fff;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    border-radius: 10px;
    border: 2px solid #FDC500;
    padding: .5rem;
    
}

.Hero .lg-view{
    position: absolute;
    right: 10px;
    top: 10px;
}
.Hero .md-view{
    display: none;
}
.Hero .sm-view{
    display: none;
}


#banner{
    display: block;
    width: 100%;
    height: auto;
    
}
  
.Event { 
    grid-area: 1 / 1 / 2 / 2; 
    padding: .5rem;
    text-align: center;
    background-color: #fff;
    height: 100%;
    border: 1px solid #000000;


}
.Event p{
    text-align: justify;
}

.Event img{
    height: 3rem;
}
  
.Spotlight-1 { 
    grid-area: 1 / 3 / 2 / 4; 
    background-color: #fff;
    text-align: center; 
    padding: .5rem;
    border: 1px solid #000000;
    height: 100%;
}

.Spotlight-1 img{
    height: 3rem;
}
  
.Spotlight-2 { 
    grid-area: 2 / 3 / 3 / 4; 
    background-color: #fff;
    text-align: center;
    padding: .5rem;
    border: 1px solid #000000;
    height: 100%;
}
.Spotlight-2 p{
    text-align: justify;
}

.Spotlight-2 img{
    height: 3rem;
}
  
.Spotlight-3 { 
    grid-area: 3 / 3 / 4 / 4; 
    background-color: #fff;
    text-align: center;
    padding: .5rem;
    border: 1px solid #000000;
    height: 100%;
}

.Spotlight-3 img{
    height: 3rem;
}
  
.News-release { 
    grid-area: 3 / 2 / 4 / 3; 
    background-color: #fff;
    padding: .5rem;
    background-color: #FDC500;
    height: 100%;
}

.News-release h3{
    text-align: center;
    font-size: 1.5rem;
}
.News-release p{
    text-align: justify;
    font-weight: 600;
}

  
.Weather { 
    grid-area: 2 / 1 / 3 / 2; 
    background-color: #fff;
    padding: .5rem;
    text-align: center;
    height: 100%;
    border: 1px solid #000000;

}

.Weather img{
    height: 4rem;
}

.Weather li{
    list-style-type: none;
    line-height: 2rem;
    font-weight:700;

}
.Weather ul{
    text-align: left;

}
  
.Join { 
    grid-area: 3 / 1 / 4 / 2; 
    background-color: #fff;
    padding: .5rem;
    text-align: center;
    border: 1px solid #000000;
    height: 100%;
}
  
.join-button{
    padding: 1rem;
    text-align: center;
}

#join-us{
    padding: 1rem;
    border-radius: 5px;
    background-color: #000000;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: .1rem;
    border: none;
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.7);
}

#join-us:hover{
    color:#FDC500
}

.discover-container{
    margin: .5rem;
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(5,1fr);
    align-items: center;

}

.discover-container img[data-src]{
    filter: blur(0.5em);
}

.discover-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.7);
    filter: blur(0em);
    transition: linear 1s;
}
.discover-container img:hover{
    filter:grayscale();
    transition: 1s;
    cursor: pointer;
    transform: scale(1.04,1.04);
    
}
.discover-container p{
    background-color: #DCDCDC;
    padding: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5px;
    line-height: 1.5rem;
}

.discover-container #img01{
    grid-column: 1/6;
    grid-row: 1/2;
    margin: 1rem;
}
.discover-container .wrapper-1{
    grid-column: 6/13;
    grid-row: 1/2;
    padding: 1rem;
}
.discover-container #img02{
    grid-column: 1/6;
    grid-row: 2/3;
    margin: 1rem;
    
}
.discover-container .wrapper-2{
    grid-column: 6/13;
    grid-row: 2/3;
    padding: 1rem;
}
.discover-container #img03{
    grid-column: 1/6;
    grid-row: 3/4;
    margin: 1rem;
}
.discover-container .wrapper-3{
    grid-column: 6/13;
    grid-row: 3/4;
    padding: 1rem;
}
.discover-container #img04{
    grid-column: 1/6;
    grid-row: 4/5;
    margin: 1rem;
}
.discover-container .wrapper-4{
    grid-column: 6/13;
    grid-row: 4/5;
    padding: 1rem;
}
.discover-container #img05{
    grid-column: 1/6;
    grid-row: 5/6;
    margin: 1rem;
}  
.discover-container .wrapper-5{
    grid-column: 6/13;
    grid-row: 5/6;
    padding: 1rem;
}

footer{
    background-color: #000000;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,auto);
}

footer img{
    height: 5rem;

}

.footer-logo{
    grid-column: 1/2;
    grid-row: 1;
    align-self: center;
    text-align: right;
    margin-right: 1rem;
    padding: 1rem;
}

.name{
    grid-column: 2/4;
    grid-row: 1;
    align-self: center;
    padding: 1rem;
}

.info-section{
    grid-column: 4/6;
    grid-row: 1;
    padding: 1rem;
}

footer a{
    text-decoration: none;
    color: red;
    font-family: 'Raleway', sans-serif;
    
}

.base-footer{
    grid-column: 1/6;
    grid-row: 2;
    text-align: center;
    border-top: 1px solid #fff;
    padding: .5rem;
    background-color: #DCDCDC;
    color: #000000;
    
}
