@media only screen and (max-width : 768px) {

    header h1{
        font-size: 2rem;
    }
    header img{
        height: 100px;
        margin-left: 1rem;
    }

    nav ul#primaryNav{
        display: none;
        
    }

    nav button{
        display: flex;
    }

    nav ul#primaryNav.open{
        display: block;
    }
    
    #hamburguerBtn span:nth-child(1){
        display: block;
    }
    #hamburguerBtn span:nth-child(2){
        display: none;
    }

    #hamburguerBtn.open span:nth-child(1){
        display: none;
    }
    #hamburguerBtn.open span:nth-child(2){
        display: block;
    }

    .container {  
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        gap: 5px 5px;
        grid-auto-flow: row;
        margin: .5rem;
        height: 50rem;
      }

    .Hero { 
        grid-area: 1 / 1 / 2 / 4;
        background-color: #DCDCDC; 
    }
      
    .Event { 
        grid-area: 5 / 1 / 6 / 3; 
        background-color: #DCDCDC;
    }
      
    .Spotlight-1 { 
        grid-area: 3 / 1 / 4 / 2; 
        background-color: #DCDCDC;
    }
      
    .Spotlight-2 { 
        grid-area: 3 / 2 / 4 / 3; 
        background-color: #DCDCDC;
    }
      
    .Spotlight-3 { 
        grid-area: 3 / 3 / 4 / 4; 
        background-color: #DCDCDC;
    }
      
    .News-release { 
        grid-area: 2 / 1 / 3 / 4; 
        background-color: #DCDCDC;
    }
      
    .Weather { 
        grid-area: 5 / 3 / 6 / 4; 
        background-color: #DCDCDC;
    }
      
    .Join { 
        grid-area: 4 / 1 / 5 / 4; 
        background-color: #DCDCDC;
    }
}