@media only screen and (min-width : 820px){
    header h1{
        padding-right: .7rem;
    }
}

@media only screen and (max-width : 410px){
    footer{
        display: block;
    }
}

@media only screen and (max-width : 650px){

    #header-banner{
        font-size: .8rem;
    }
    
    .container {  
        display: block;

      }

    .discover-container{
        display: block;
        font-size: 1.2rem;
    }
    .discover-container img{
        max-width: 91%;
    }
    .discover-container img:hover{
        filter: none;
        transition: none;
        cursor: none;
        transform: none;
    }

    .Hero h2{
        font-size: 1.5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .Hero .lg-view{
        display: none;
    }
    .Hero .md-view{
        display: none;
    }
    .Hero .sm-view{
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    
    .Event{
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
      
    .Spotlight-1 { 
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
      
    .Spotlight-2 { 
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

      
    .Spotlight-3 { 
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .Spotlight-3 button{
        font-size: .8rem;
    }
    .join-button{
        padding-top: 0;
    }
      
    .News-release { 
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .Weather{
        margin-bottom: 1rem;
        font-size: 1.2rem; 
    }
          
    .Join {   
        font-size: 1.2rem; 
        margin-bottom: 1rem;
    }

    form input, form textarea{
        width: 100%;
    }

    #contact{
        padding-right: 2rem;
    }

    .list section{
        display: block;
    }

    .grid-contact{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .contact-header h1{
        font-size: 1.7rem;
    }
    .grid-contact legend{
        font-size: 1.3rem;
    }

    .grid-contact h3{
        font-size: 1rem;
    }
}