@media only screen and (max-width : 380px) {

    header h1{
        font-size: 1.5rem;
    }
    header img{
        height: 80px;
        margin-left: 1rem;
    }

    nav ul#primaryNav{
        display: none;
        
    }

    nav button{
        display: flex;
    }

    nav ul#primaryNav.open{
        display: block;
    }

    nav #current-date{
        font-size: .7rem;
    }

    .Hero h2{
        font-size: 1rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .Hero .lg-view{
        display: none;
    }
    .Hero .md-view{
        
        display: none;
    }
    .Hero .sm-view{
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .container{
        display: block;
    }

    .Event{
        font-size: 1.2rem;
    }

    .Spotlight-3{
        font-size: 1.2rem;
    }
    
    #hamburguerBtn span:nth-child(1){
        display: block;
    }
    #hamburguerBtn span:nth-child(2){
        display: none;
    }

    #hamburguerBtn.open span:nth-child(1){
        display: none;
    }
    #hamburguerBtn.open span:nth-child(2){
        display: block;
    }

    footer{
        display: block;
    }

        

}