@media only screen and (max-width : 380px) {

    header h1{
        font-size: 1.5rem;
    }
    header img{
        height: 80px;
        margin-left: 1rem;
    }

    nav ul#primaryNav{
        display: none;
        
    }

    nav button{
        display: flex;
    }

    nav ul#primaryNav.open{
        display: block;
    }

    nav #current-date{
        font-size: .7rem;
    }

    .Hero h2{
        font-size: 1rem;
    }
    
    #hamburguerBtn span:nth-child(1){
        display: block;
    }
    #hamburguerBtn span:nth-child(2){
        display: none;
    }

    #hamburguerBtn.open span:nth-child(1){
        display: none;
    }
    #hamburguerBtn.open span:nth-child(2){
        display: block;
    }

    footer{
        display: block;
    }

        

}

@media only screen and (max-width : 410px){
    footer{
        display: block;
    }
}

@media only screen and (max-width : 650px){
    main .container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 5px 5px;
        grid-auto-flow: row;
        margin: .5rem;

    }

    .Hero { 
        grid-area: 1 / 1 / 2 / 4; 
        background-color: #DCDCDC; 
    }

    .Hero h2{
        font-size: 1.5rem;
    }
      
    .Event { 
        grid-area: 2 / 1 / 3 /4; 
        background-color: #DCDCDC;
    }
      
    .Spotlight-1 { 
        grid-area: 5 / 1 / 6 / 4; 
        background-color: #DCDCDC;
    }
      
    .Spotlight-2 { 
        grid-area: 6 / 1 / 7 / 4; 
        background-color: #DCDCDC;
    }
      
    .Spotlight-3 { 
        display: none;
    }
      
    .News-release { 
        grid-area: 4 / 1 / 5 / 4; 
        background-color: #DCDCDC;
    }
      
    .Weather { 
        grid-area: 3 / 1 / 4 / 4; 
        background-color: #DCDCDC;
    }
      
    .Join { 
        grid-area: 4 / 1 / 5 / 4; 
        background-color: #DCDCDC;
    }
}